
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
.hero-image-container {
    position: relative;
    overflow: hidden;
}

.hero-image-container .background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.hero-image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
}

.plan-card {
    transition: transform 0.3s ease;
}
.plan-card:hover {
    transform: scale(1.05);
    animation: pulse 1.5s;
}
.swiper-slide {
    display: flex;
    justify-content: center;
}
.map-iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 8px;
}
.btn-whatsapp {
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 20px;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 4px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #00e676;
	opacity: 0;
	animation: onda 1.7s infinite;
}

.btn-whatsapp:before {
	animation-delay: 1s;
}

.btn-whatsapp:after {
	animation-delay: 1.3s;
}

.btn-whatsapp img {
	position: relative;
	z-index: 2;
}

@keyframes onda {
	0% {
		transform: scale(1);
	}

	15%{
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

@keyframes colorSwitch {
    0% { color: #FFFFFF; }
    50% { color: #F97316; }
    100% { color: #FFFFFF; }
}
.animate-color-switch {
    animation: colorSwitch 1s infinite;
}

@keyframes pulse-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
    }
}
.button {
    position: fixed;
    z-index: 999;
    bottom: 95px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255, 145, 0);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    animation: pulse-up 0.6s infinite ease-in-out;
    opacity: 0;
    
}

.button.show-btn {
    opacity: 1;
    visibility: visible;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

/* Animación para el menú deslizante */
.slide-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.slide-menu.active {
    transform: translateX(0);
}

/* Overlay para cerrar el menú */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 55;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.menu-icon {
    margin-right: 10px !important;
    display: inline-block;
    width: 20px;
    text-align: center;
}
